<div class="p-1 m-1">
       <h2 class="text-primary text-center p-4 m-4"><b>ADMIN DASHBOARD</b></h2>
</div>

<div class="row p-1 m-1">
<div class="col">
    <div>
        <table class="table table-bordered table-primary table-active container">
            <thead class="text-primary table-primary">
                <tr class="text-center">                    
                    <th>ID</th>
                    <th>TICKET</th>
                    <th>DEVELOPERS</th>
                    <th>STATUS</th>
                    <th>Priority</th>
                    <th>APPROVED</th>
                    <th>Images</th>
                    <th>Action</th>                    
                </tr>
            </thead>  
            <tbody>
                <tr class="text-center" *ngFor="let user of ticketList">
                    
                    <td>{{user.id}}</td>
                    <td>{{user.ticket1}}</td>  
                    <td  >
                        <select (change)="devSelect($event)" *ngIf="user.developer == null" class="form-control">
                            <option value="">Select Developer</option>
                            <option  value="{{Dev.id}}"   *ngFor="let Dev of devList">
                              {{Dev.userName}}
                            </option>
                          </select>
                          <div *ngIf="user.developer != null">{{user.developer}}</div>
                    </td>
                    <td>
                        <select (change)="statusSelect($event)" *ngIf="user.status == null" class="form-control">
                            <option value="">Select Status</option>
                            <option  value="{{s.id}}"   *ngFor="let s of statusList">
                              {{s.name}}
                            </option>
                          </select>
                          <div *ngIf="user.status != null">{{user.status}}</div>
                    </td>
                    <td >
                        <select (change)="selectprio($event)" *ngIf="user.priority == null" class="form-control">
                            <option value="">Select Priority</option>
                            <option  value="{{p.id}}"   *ngFor="let p of priorityList">
                              {{p.name}}
                            </option>
                          </select>
                          <div *ngIf="user.priority != null">{{user.priority}}</div>
                    </td>
                    <td>
                        <button *ngIf="user.approved == false" (click)="ApproveTicket(user)" class="btn btn-primary" >Approve</button>
                        <div *ngIf="user.approved == true">✅</div>
                    </td>
                    <td>   
                        <div *ngIf="user.picturePath != '' ">
                          <div>
                            <img data-toggle="modal" data-target="#picModal" (click)="picPath(user.picturePath)"  [src]="createImagePath(user.picturePath)">
                          </div>
                          <div>
                            <label class="text-danger">Click on Image</label>
                          </div>
                        </div>                     
                        <a *ngIf="user.picturePath == '' "> NILL </a>
                    </td>
                    <td>
                      <button data-toggle="modal" data-target="#commentModal" (click)="commentClick(user.id)" class="btn btn-primary p-1 m-1">COMMENTS</button>
                   </td>
                                       
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>


<!-- comment -->
<form>
  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel"><b>COMMENTS</b></h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
              <table *ngIf="comment.length != 0" class="table table-bordered table-primary table-active container">
                  <thead class="text-primary table-primary">
                      <tr class="text-center">
                          
                          <th>Name</th>
                          <th>Role</th>
                          <th>Comment</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-center" *ngFor="let com of comment">
                          
                          <td>{{com.userName}}</td>
                          <td>{{com.userRole}}</td>  
                          <td>{{com.comment1}}</td>
                                             
                      </tr>
                  </tbody>
              </table>
              
          </div>
          <div class="p-2 m-2">
              <input [(ngModel)]="newComments.comment1" name="comment" type="text" class="form-control" placeholder="Add Comment Here" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="newComments.comment1 == ''" (click)="AddComment()" type="button" class="btn btn-primary" data-dismiss="modal">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
</form>

<!-- Pic -->
<form>
  <div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <button type="button" cclass="modal-content close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
        
          <div class="modal-body" >
           
             <img [src]="createImagePath(Pic)" style="width: 1000px; height:800px"/>
          </div>         
          </div>    
</form>