<div class="row p-2 m-2">
    <div class="col-8">
       <h2 class="text-success text-center"><b>USER LIST</b></h2>
    </div>
    <div  class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newModal" >New User</button>
     </div>
</div>
<div>
    <table class="table table-bordered table-primary table-active container">
        <thead class="text-primary table-primary">
            <tr class="text-center">
                
                <th>UserName</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Role</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let user of userList">
                
                <td>{{user.userName}}</td>
                <td>{{user.phoneNumber}}</td> 
                <td>{{user.email}}</td> 
                <td>{{user.role}}</td>
                                   
            </tr>
        </tbody>
    </table>
</div>

<form>
    <div class="modal" role="dialog" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header" style="background-color: rgb(173, 94, 54);" >
                    <div class="modal-title"><b>New User</b></div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtName" class="col-sm-4">User Name</label>
                        <div class="col-sm-8">
                            <input type="text" [(ngModel)]="newUser.userName" placeholder="User Name" name="name" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtAge" class="col-sm-4">Email</label>
                        <div class="col-sm-8">
                            <input type="email" [(ngModel)]="newUser.email" placeholder="Your Email" name="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtEmail" class="col-sm-4">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" [(ngModel)]="newUser.phoneNumber" placeholder="PhoneNumber" name="phonenumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtEmail" class="col-sm-4">Password</label>
                        <div class="col-sm-8">
                            <input type="password" [(ngModel)]="newUser.password" placeholder="Password" name="password" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtEmail" class="col-sm-4">Role</label>
                        <div class="col-sm-8">
                            <select (change)="selectedRole($event)" class="form-control">
                                <option value="">Select Role</option>
                                <option  value="{{r.name}}"   *ngFor="let r of RoleList">
                                  {{r.name}}
                                </option>
                              </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button (click)="Register()" type="button" class="btn btn-success" data-dismiss="modal">SAVE</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                </div>

            </div>
        </div>
    </div>
</form>
